
.top--navbar{
    background-color: #1a94ff;
    font-family: 'Segoe UI',Verdana, sans-serif;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #90caf9;
}


.navbar--title > a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

.navbar--link--items{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin-top: 13px;
    font-weight: bold;
    font-size: 16px;
}

.navbar--link--items li a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: all;
}

.navbar--link--items li a:hover{
    padding-top: 5px;
    border-bottom: 2px dotted rgb(255, 255, 255);
    animation: 2s normal;
    text-transform: uppercase;
}
.navbar--search{
    flex-grow: 0.3;
    justify-content:right;
    margin-left: 20px;
    border-radius: 31%;
}
.section--header{
    background: url('/static/images/bg.jpg') no-repeat right;
    font-family: Verdana, sans-serif;
}

.hero--header{
    font-weight: 700;
}

.get--started--section{
    display: flex;
    justify-content: center;
    align-items: center;
}

section h3{
    font-weight: 900;
}

.section--header--info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.job--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job--container--details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.job--top--part{
    display: flex;
    align-items: center;
}

.company--job--descr{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.job--location{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.job--types{
    display: flex;
    align-items: center;
    gap: 26px;
}

.job--types li::marker{
    color: rgb(245, 158, 52);
    size: 0.5rem;
}