{% extends 'jobs/base.html' %}


{% block content %}

<section class="container-fluid p-5 border-2 bg-light section--header">
    <div class="hero--header">
        <h1>Find your dream job</h1>
    </div>

    <div class="text-muted hero--content">
        <p>Looking for jobs? Browse our latest job openings to view & apply to the best jobs today!</p>
    </div>
</section>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <img src="static/images/job1.jpg" width="100%" class="rounded" />
        </div>
        <div class="col-md-4 mt-5">
            <div class="section--header--info">
                <i class="fa fa-2x fa-tasks mr-3" aria-hidden="true"></i>
                <h3>Find your profession</h3>
            </div>
            <p>
                Unleash your potential! Explore our expansive job board and find your dream career. Search by industry, keyword, or location to discover a world of opportunities. From seasoned professionals to new graduates, we connect you with the perfect fit. Refine your search with advanced filters and land a job you love. Don't wait, browse now and start your journey to career fulfillment!
            </p>
            <div class="section--header--info">
                <i class="fa fa-2x fa-flag" aria-hidden="true"></i>
                <h3>Set your goals</h3>
            </div>
            <p>
                Break down intimidating objectives into manageable steps, discover motivational techniques, and unlock the power of goal setting to transform your aspirations into reality. Start building your dream future, visit our goal-setting resources today!
            </p>
        </div>
    </div>
</section>

<section class="container mt-5 bg-light p-3">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="section--header--info">
                <i class="fa fa-2x fa-unlock-alt" aria-hidden="true"></i>
                <h3>Unlock true potential</h3>
            </div>
            <p>
                Ever feel there's more you can achieve? You're not alone.  Unlocking your true potential is a thrilling adventure, and we're here to guide you. Our resources provide insightful articles, skill-building courses, and inspirational stories to help you conquer challenges, cultivate strengths, and reach new heights. Whether you want to launch a business, master a new language, or simply become the best version of yourself, we'll equip you with the tools and support you need to break barriers and unleash your inner potential.  Let's embark on this journey together!
            </p>
        </div>
        <div class="col-md-8">
            <img src="static/images/job2.jpg" width="100%" class="rounded" />
        </div>
    </div>
</section>

<section class="bg-info p-3 mt-5 get--started--section">
    <a href="#" class="btn btn-warning btn--get--started">Get Started</a>
</section>

{% endblock content %}

