{% extends 'jobs/base.html' %}

{% block content %}
<br><br><br<br><br><br><br>
    <div class="row">
        <div class="col-md-4">
            {% include 'jobs/job_filter.html' %}
        </div>
       
        <div class="col-md-8 mt-3 mb-3 ml-4">
            <div class="card border-0 shadow-lg rounded-3">
                <div class="card-header bg-{{ colors|random }} text-white rounded-top py-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="bg-white text-dark fs-6 fw-normal py-1 px-3 rounded-pill">{{ job.date_created|date:"d M, Y" }}</small>
                        <div class="icon-wrapper">
                            <i class="fa fa-bookmark"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light p-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <small class="text-muted">{{ job.company_name }}</small>
                        <div class="logo-wrapper"><i class="fa fa-shopping">Logo</i></div>
                    </div>
                    <h5 class="text-wrap fs-5 text-dark">{{ job.title }}</h5>
                    <div class="d-flex flex-wrap gap-2 mt-2">
                        {% for job_type in job.job_type.all %}
                            <span class="badge bg-dark text-white rounded-pill">{{ job_type.type_name }}</span>
                        {% endfor %}
                    </div>
                    <p class="text-muted mt-3 mb-0">{{ job.location }}</p>
                    <p class="text-dark lead mt-2 mb-0">{{ job.description|safe }}</p>
                </div>
                <div class="card-footer bg-white d-flex justify-content-end py-3">
                    <a class="btn btn-outline-dark rounded-pill text-sucess fs-6 fw-bold" href="{% url 'job-detail-page' job.pk %}">
                        Apply
                    </a>
                </div>
            </div>
        </div>
        
    </div>

<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">Copyright &copy; <a href="#">Domain</a>. All Rights Reserved.</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}