<nav class="top--navbar">
    <div class="navbar--title">
        <a href="#">Mapoza</a>
    </div>

    <div class="navbar--links">
        <ul class="navbar--link--items">
            <li>
                <a href="{% url 'home-page' %}">Home</a>
            </li>

            <li>
                <a href="{% url 'jobs-page' %}">Jobs</a>
            </li>

            <li>
                <a href="{% url 'about-page' %}">About Us</a>
            </li>

            <li>
                <a href="{% url 'contact-page %'}">Contact us</a>
            </li>

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout-page' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'signup-page' %}">Signup</a>
                </li>

                <li>
                    <a href="{% url 'login-page' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>

    

    <form action="" method="get">
        <div class="form-inline search-container">
            <button type="button" class="btn my-2 my-sm-0 nav_search-btn" onclick="toggleSearchInput()">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <input type="text" class="search-input" name="q" placeholder="Search...">
            <button type="submit" class="btn btn-success search-submit-btn">Search</button>
        </div>
    </form>
    
    <script>
        function toggleSearchInput() {
            document.querySelector('.search-container').classList.toggle('active');
        }
    </script>
</nav>