{% extends 'jobs/base.html' %}

{% block content %}
    <div class="d-flex items-center justify-content-center mt-4">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            
            <p>Already have an account? <a href="#">Sign in here</a>.</p>
            <button type="submit">Register</button>
        </form>
    </div>

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock content %}
