{% extends 'jobs/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br>
    <div class="d-flex items-center justify-content-center mt-4 mb-4">
     
        <form method="POST" class="bg-white shadow p-4 rounded">
            <h1>create your mapoza account</h1>
            {% csrf_token %}
            {{ form|crispy }}
            
            <p>Already have an account? <a href="{% url 'login-page' %}">Sign in here</a>.</p>
            <button type="submit" class="btn w-100 btn-success text-white p-2 text-center">Register</button>
        </form>
    </div>

{% endblock content %}
